# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Translations
*.mo
*.pot

# Log files
*.log

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# vim
*.swp
*.swo

# Mypy cache
.mypy_cache/

# pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/

# Checkpoints
checkpoint-*

# Cache
.scandeval_cache/
.euroeval_cache/

# Result log
scandeval_benchmark_results.jsonl
euroeval_benchmark_results.jsonl

# Experiments
gai-experiments.xlsx
~$gai-experiments.xlsx

# Upload of leaderboard
src/upload/

# Model outputs in debugging mode
*.json

# Mkdocs
site/

# Helper files for docs
docs/datasets/dataset_example_commands.txt
