[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "ScandEval"
version = "6.1.0"
description = "Evaluation of pretrained language models on mono- or multilingual Scandinavian language tasks."
authors = ["Dan Saattrup Nielsen <saattrupdan@gmail.com>"]
readme = "README.md"
license = "MIT"
homepage = "https://scandeval.github.io"
repository = "https://github.com/saattrupdan/ScandEval"

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
tqdm = "^4.62.0"
huggingface-hub = ">=0.7.0,<1.0.0"
transformers = "^4.20.0"
torch = "^1.12.1"
datasets = "^2.7.0"
click = "^8.1.3"
termcolor = "^1.1.0"
numpy = "^1.23.0"
sentencepiece = ">=0.1.96,<1.0.0"
protobuf = ">=3.20.0,<3.21.0"
seqeval = "^1.2.2"
pandas = "^1.4.0"
python-dotenv = ">=0.20.0,<1.0.0"
evaluate = ">=0.3.0,<1.0.0"
sacremoses = ">=0.0.53,<1.0.0"
jax = ">=0.4.1,<1.0.0"
flax = ">=0.6.3,<1.0.0"
jaxlib = ">=0.4.1,<1.0.0"
pyinfer = ">=0.0.3,<1.0.0"

[tool.poetry.dev-dependencies]
pdoc = "^7.1.1"
pytest = "^6.2.5"
pre-commit = "^2.17.0"
black = "^22.3.0"
requests = "^2.28.0"
lxml = "^4.9.0"
isort = "^5.10.1"
pytest-xdist = "^2.5.0"
pytest-cov = "^3.0.0"
readme-coverage-badger = "^0.1.2"

[tool.poetry.scripts]
scandeval = "scandeval.cli:benchmark"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = [
    '--verbose',
    '--durations=10',
    '--color=yes',
    '-s',
    '-vv',
    '--doctest-modules',
    '--cov=src/scandeval',
]
xfail_strict = true
filterwarnings = ["error"]
log_cli_level = "info"
testpaths = ["tests", "src/scandeval"]

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
	\.git
| \.hg
| \.mypy_cache
| \.tox
| \.venv
| _build
| buck-out
| build
)/
'''

[tool.isort]
profile = "black"
