astroid==2.6.2
attrs==21.2.0
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
charset-normalizer==2.0.3
click==7.1.2
conllu==4.4
cymem==2.0.5
danlp==0.0.12
datasets==1.9.0
dill==0.3.4
filelock==3.0.12
flake8==3.9.2
fsspec==2021.7.0
huggingface-hub==0.0.12
idna==3.2
iniconfig==1.1.1
isort==5.9.2
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
multiprocess==0.70.12.2
murmurhash==1.0.5
numpy==1.21.0
oauthlib==3.1.1
packaging==21.0
pandas==1.3.0
parso==0.8.2
pathy==0.6.0
pluggy==0.13.1
preshed==3.0.5
py==1.10.0
pyarrow==4.0.1
pycodestyle==2.7.0
pyconll==3.1.0
pydantic==1.8.2
pyflakes==2.3.1
pylint==2.9.3
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.4
pytest-flake8==1.0.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.0
seqeval==1.2.2
six==1.16.0
smart-open==5.1.0
spacy==3.1.1
spacy-legacy==3.0.8
srsly==2.4.1
thinc==8.0.8
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
torch==1.9.0
tqdm==4.61.2
transformers==4.8.2
tweepy==3.10.0
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wasabi==0.8.2
wrapt==1.12.1
xxhash==2.0.2
