absl-py==0.13.0
astroid==2.6.5
astunparse==1.6.3
attrs==21.2.0
beautifulsoup4==4.9.3
blis==0.7.4
bs4==0.0.1
cachetools==4.2.2
catalogue==2.0.4
certifi==2021.5.30
charset-normalizer==2.0.4
chex==0.0.8
click==7.1.2
cycler==0.10.0
cymem==2.0.5
datasets==1.11.0
dill==0.3.4
dm-tree==0.1.6
filelock==3.0.12
flake8==3.9.2
flatbuffers==1.12
flax==0.3.4
fsspec==2021.7.0
gast==0.4.0
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
huggingface-hub==0.0.8
idna==3.2
iniconfig==1.1.1
isort==5.9.3
jax==0.2.18
jaxlib==0.1.69
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lazy-object-proxy==1.6.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mccabe==0.6.1
msgpack==1.0.2
multiprocess==0.70.12.2
murmurhash==1.0.5
numpy==1.19.5
oauthlib==3.1.1
opt-einsum==3.3.0
optax==0.0.9
packaging==21.0
pandas==1.3.1
parso==0.8.2
pathy==0.6.0
Pillow==8.3.1
pluggy==0.13.1
preshed==3.0.5
protobuf==3.17.3
py==1.10.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pydantic==1.8.2
pyflakes==2.3.1
pylint==2.9.6
pyparsing==2.4.7
pytest==6.2.4
pytest-flake8==1.0.7
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
regex==2021.7.6
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
sacremoses==0.0.45
scikit-learn==0.24.2
scipy==1.7.1
sentencepiece==0.1.96
seqeval==1.2.2
six==1.15.0
smart-open==5.1.0
soupsieve==2.2.1
spacy==3.1.1
spacy-alignments==0.8.3
spacy-legacy==3.0.8
spacy-transformers==1.0.3
srsly==2.4.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
thinc==8.0.8
threadpoolctl==2.2.0
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.9.0
tqdm==4.62.0
transformers==4.6.1
typer==0.3.2
typing-extensions==3.7.4.3
urllib3==1.26.6
wasabi==0.8.2
Werkzeug==2.0.1
wrapt==1.12.1
xxhash==2.0.2
