name: CI

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

jobs:
  code-check:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1

  pytest-linux:
    if: github.event.pull_request.draft == false
    permissions:
      contents: read
      pull-requests: write
    strategy:
        matrix:
            python-version: ["3.10", "3.11", "3.12"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra test

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_API_KEY: ${{ secrets.HUGGINGFACE_API_KEY }}
          HF_TOKEN: ${{ secrets.HUGGINGFACE_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}

      - name: Delete ScandEval cache
        run: rm -rf .scandeval_cache

  pytest-macos:
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'macos')
    permissions:
      contents: read
      pull-requests: write
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set up Python
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra test

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_API_KEY: ${{ secrets.HUGGINGFACE_API_KEY }}
          HF_TOKEN: ${{ secrets.HUGGINGFACE_API_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ANTHROPIC_API_KEY: ${{ secrets.ANTHROPIC_API_KEY }}

      - name: Delete ScandEval cache
        run: rm -rf .scandeval_cache
