name: CI

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

jobs:
  code-check:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - uses: pre-commit/action@v3.0.1

  pytest-linux:
    if: github.event.pull_request.draft == false
    strategy:
        matrix:
            python-version: ["3.10", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra cpu_all

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_HUB_TOKEN: ${{ secrets.HUGGINGFACE_HUB_TOKEN }}

      - name: Delete ScandEval cache
        run: rm -rf .scandeval_cache

  pytest-macos:
    if: github.event.pull_request.draft == false && contains(github.event.pull_request.labels.*.name, 'macos')
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install ${{ matrix.python-version }}

      - name: Install Dependencies
        run: uv sync --no-dev --extra cpu_all

      - name: Test with pytest
        run: uv run pytest
        env:
          HUGGINGFACE_HUB_TOKEN: ${{ secrets.HUGGINGFACE_HUB_TOKEN }}

      - name: Delete ScandEval cache
        run: rm -rf .scandeval_cache
